body {
    background: url("https://wallpaperaccess.com/full/1567666.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#mapid {
    height: 500px;

}

.map_data_display {
    background: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 10px 15px white;
}

.header {
    text-align: center;
    color: red;
    text-shadow: 3px 5px  8px gold;
}

.ff25 {
    font-size: 25px;
    font-weight: bold;
}